
<header class="header-area">
    <div class="container container-wide">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-2">
                <div class="site-logo text-center text-sm-left">
                    <a href="index.html"><img src="../assets/img/logo.png" alt="Logo" /></a>
                </div>
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <div class="site-navigation">
                    <ul class="main-menu nav">
                        <li class="has-submenu"><a href="index.html">Home</a>
                            
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>

                        <li>                    
                            <a href="/contact">Contact</a>
                        
                        </li>
                        <li>                    
                                <a href="/product">List Product</a>
                            
                        </li>
                    </ul>
                </div>
            </div>

           
        </div>
    </div>
</header>
<router-outlet></router-outlet>
