<div class="call-to-action-area">
    <div class="call-to-action-content-area bg-img" data-bg="assets/img/bg/bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="call-to-action-txt">
                        <h2>ALL KINDS OF PARTS THAT YOU <br> NEED CAN FIND HERE</h2>
                            <a href="shop.html" class="btn btn-brand">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="call-to-action-image-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="../assets/img/banner/7.jpg" alt="Car" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="promotion-code-area-wrapper sm-top">
    <div class="container container-wide">
        <div class="row">
            <div class="col-md-6">
                <div class="promotion-code-banner-item mb-sm-30">
                    <img src="assets/img/banner/8.jpg" style="height:380px"px alt="Banner" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="promotion-code-banner-item">
                    <img src="assets/img/banner/9.jpg" alt="Banner" />
                </div>
            </div>
        </div>
    </div>
</div>
