<div class="brand-logo-area sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-logo-content">
                    <div class="brand-logo-item">
                        <a href="#"><img src="../assets/img/brand-logo/3.jpg" style="height: 47px" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="../assets/img/brand-logo/2.jpg" style="height: 75px" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="../assets/img/brand-logo/1.jpg" style="height: 47px" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="../assets/img/brand-logo/4.jpg"  style="height: 46px" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="../assets/img/brand-logo/5.jpg" style="height: 49px" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="../assets/img/brand-logo/brand-3.png" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="../assets/img/brand-logo/brand-1.png" alt="Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>