<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Lukas - Car Parts Store eCommerce HTML Template</title>
    </head>
<body>
    <app-header></app-header>

   <app-slider></app-slider>

    <app-banner></app-banner>
  
    <app-action></app-action>
   
  
    <app-all></app-all>
  
    <app-product></app-product>
 
   <app-flash-deals></app-flash-deals>

  <app-brand></app-brand>
  
   <app-footer></app-footer>

</body>
</html>
<router-outlet></router-outlet>